div.d-categories-container {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

div.d-categories-container > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

div.d-categories-container > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 1px blue solid;
}

div.d-categories-container > div > img {
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

div.d-categories-container > div > div > p {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.d-categories-container > div > div .dash-cat-button {
  transition: 0.5s ease;
  opacity: 0;
}

div.d-categories-container > div:hover > img {
  opacity: 0.7;
}

div.d-categories-container > div:hover > div .dash-cat-button {
  opacity: 1;
}

div.d-categories-container > div > div .dash-cat-button {
  padding: 0.5rem;
  font-size: large;
  background-color: #04aa6d;
  color: white;
  border-radius: 5px;
}
