nav {
  padding: 0 1rem 0 1rem;
  height: 12vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
}

nav .nav-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

nav .nav-item:hover {
  color: var(--secondary-color);
}