nav {
  width: 100vw;
  height: 12vh;
}

nav > ul.navbar {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  list-style-type: none;
}
