/* Imported polices */
@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Hind";
  src: url('./assets/fonts/Hind-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url('./assets/fonts/Hind-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

:root {
  /* blue */
  --main-color: #183650;
  /* orange */
  --secondary-color: #E79759;
}


*::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: #FFFFFF;
}

body{
  margin: 0;
  padding: 0;
  width: clamp(320px, 100vw, 10240px);
  height: clamp(480px, 100vh, 4320px);
  font-family: "Hind";
  font-size: medium;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
 font-family: "Montserrat";
 color: var(--main-color); 
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

h4, h5, h6 {
  font-size: medium;
}

a {
  text-decoration: none;
  font-size: medium;
}

p  {
  font-size: medium;
}
