* {
  box-sizing: border-box;
}

.container-bloc-affichage {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.6rem;
  color: #204245;
  border-radius: 50px;
  cursor: pointer;
  border: 1.5px solid #204245;
  font-size: 1rem;
  transition: all ease-in-out 0.3s;
}

button:hover {
  color: white;
  background: #204245;
  font-size: 1rem;
}

div.div-project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-project .blocAffichage p {
  border-radius: 25px;
  background: white;
  margin-bottom: 1rem;
  width: 500px;
  box-shadow: 3px 3px 1px gray;
  padding: 10px 10px;
}

.blocAffichage {
  display: grid;
  grid-template-columns: repeat(2, fr);
}

progress {
  margin-bottom: 25px;
  min-width: 500px;
  accent-color: #aa4465;
  height: 35px;
}

.div-project h1,
h2 {
  margin-bottom: 0.6rem;
}

i {
  margin: 0 1rem;
  cursor: pointer;
}

button {
  margin: 1rem;
}
