*{
    box-sizing: border-box;
}

.div-project .blocAffichage p {
    border : 1px solid gray;
    border-radius: 25px;
    background: white;
    margin-bottom: 1rem;
    width: 500px ;
    box-shadow: 3px 3px 1px gray;
    padding : 5px 10px;
}

.blocAffichage {
    display: grid;
    grid-template-columns: repeat(2, fr);
}



progress::-webkit-progress-value {
   
    margin-bottom: 25px;
    min-width: 500px;
    color: #AA4465;
    background-color: red !important;
    height: 20px;

}

.div-project h1, h2 {
    margin-bottom: 1rem;
}
