div.container-project-details {
  display: flex;
  justify-content: center;
}

.div-bloc1 {
  flex-grow: 0;
  max-width: 50%;
}

.div-bloc2 {
  background: tomato;
  flex-grow: 0;
}

.div-projDetails {
  background: #d9d9d9;
  padding: 1rem;
}

.card-bloc2 {
  background: #19354f;
  color: white;
  height: 50px;
  min-width: 500px;
}
